<ion-header>

</ion-header>

<ion-content>
    <ion-grid class="ion-no-margin">
        <ion-row class="ion-justify-content-center expandHeight">
            <ion-col size="12" class="ion-align-self-center">
                <ion-card #loginFormCard id="loginFormCard">
                    <ion-card-header>
                        <ion-card-title class="ion-text-center">Login</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <form [formGroup]="loginForm" (ngSubmit)="doLogin()">
                            <ion-item-group>
                                <ion-item lines="full">
                                    <ion-input placeholder="Email" formControlName="email"></ion-input>
                                </ion-item>
                                <ion-item lines="full">
                                    <ion-input placeholder="Password" formControlName="password"
                                               [type]="showPassword ? 'text': 'password'"></ion-input>
                                    <ion-icon [name]="showPassword ? 'eye-off': 'eye'" size="large"
                                              (click)="togglePasswordFieldType()"></ion-icon>
                                </ion-item>
                                <br>
                                <ion-button expand="block" type="submit" [disabled]="!loginForm.valid">Login
                                </ion-button>
                                <br/>
                                <ion-button fill="outline" size="small" [routerLink]="['/auth/forgot-password']"
                                            color="warning">Forgot Password
                                </ion-button>
                                <ion-button fill="outline" size="small" [routerLink]="['/auth/register']"
                                            color="success">
                                    Register
                                </ion-button>
                            </ion-item-group>
                        </form>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
