<ion-header>
    <!--    <ion-toolbar>-->
    <!--        <ion-title>login</ion-title>-->
    <!--    </ion-toolbar>-->
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title class="ion-text-center">Register</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <form [formGroup]="registerForm" (ngSubmit)="doRegister()">
                <ion-item-group>
                    <ion-item lines="full">
                        <ion-input placeholder="Name" formControlName="name"></ion-input>
                    </ion-item>
                    <ion-item lines="full">
                        <ion-input placeholder="Email" formControlName="email"></ion-input>
                    </ion-item>
                    <ion-item lines="full">
                        <ion-input placeholder="Password" formControlName="password"></ion-input>
                    </ion-item>
                    <ion-item lines="full">
                        <ion-input placeholder="Confirm Password" formControlName="confirmPassword"></ion-input>
                    </ion-item>
                </ion-item-group>
                <ion-button expand="block" type="submit" [disabled]="!registerForm.valid"> Register</ion-button>
            </form>
            <ion-item class="ion-text-end" lines="none">
                <ion-label (click)="navigateToLogin()">Login</ion-label>
            </ion-item>
        </ion-card-content>
    </ion-card>
</ion-content>
