<ion-header>
    <!--    <ion-toolbar>-->
    <!--        <ion-title>login</ion-title>-->
    <!--    </ion-toolbar>-->
</ion-header>

<ion-content>
    <ion-card class="ion-no-margin">
        <ion-card-header>
            <ion-card-title class="ion-text-center">Forgot Password ?</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                <ion-item-group>
                    <ion-item lines="full">
                        <ion-input placeholder="Email" formControlName="email"></ion-input>
                    </ion-item>
                    <ion-button class="ion-margin-top" expand="block" type="submit" [disabled]="!forgotPasswordForm.valid">Submit</ion-button>
                    <ion-button fill="outline" [routerLink]="['/auth/login']" color="success">Login</ion-button>
                    <ion-button fill="outline" [routerLink]="['/auth/register']" color="success">Register</ion-button>
                </ion-item-group>
            </form>
        </ion-card-content>
    </ion-card>
</ion-content>
