<ion-header>
    <!--    <ion-toolbar>-->
    <!--        <ion-title>login</ion-title>-->
    <!--    </ion-toolbar>-->
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title class="ion-text-center">Forgot Password ?</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                <ion-item-group>
                    <ion-item lines="full">
                        <ion-input placeholder="Email" formControlName="email"></ion-input>
                    </ion-item>
                </ion-item-group>
                <ion-button expand="block" type="submit" [disabled]="!forgotPasswordForm.valid"> Submit</ion-button>
            </form>
            <ion-item class="ion-text-end" lines="none">
                <ion-label [routerLink]="['/auth/login']" color="primary">Login</ion-label>
                <ion-label [routerLink]="['/auth/register']" color="primary">Register</ion-label>
            </ion-item>
        </ion-card-content>
    </ion-card>
</ion-content>
