<ion-header>
    <ion-toolbar>
        <ion-title>Add Expense</ion-title>
        <ion-button slot="end" fill="solid" color="danger" (click)="dismissModal()">
            <ion-icon name="close-circle-outline"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="addExpenseForm">

        <ion-item>
            <ion-input placeholder="Type Amount" type="number" formControlName="amount"></ion-input>
        </ion-item>
        <ion-item>
            <ion-textarea placeholder="Type Description" type="text" formControlName="description"></ion-textarea>
        </ion-item>

        <ion-item>
            <ion-label>Select Type</ion-label>
            <ion-select value="" okText="Ok" cancelText="Cancel" interface="popover" formControlName="type">
                <ion-select-option [value]="type.value" *ngFor="let type of expenseTypes | keyvalue">{{type.value}}</ion-select-option>
            </ion-select>
        </ion-item>
        <br>
        <ion-button color="primary" fill="solid" size="large" expand="block"
                    (click)="initCreateExpense()" [disabled]="!addExpenseForm.valid">add</ion-button>
    </form>
</ion-content>