<ion-header>
    <ion-toolbar color="secondary" class="ion-text-center">
        <ion-title>Dashboard</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header color="primary">
            <ion-title class="ion-text-center">
                Total: 500$
            </ion-title>
        </ion-card-header>
        <ion-footer>
            <ion-row>
                <ion-col size="3">
                    <ion-button expand="full" fill="clear">Today</ion-button>
                </ion-col>
                <ion-col size="3">
                    <ion-button expand="full" fill="clear">Date</ion-button>
                </ion-col>
                <ion-col size="3">
                    <ion-button expand="full" fill="clear">Catagory</ion-button>
                </ion-col>
                <ion-col size="3">
                    <ion-button expand="full" fill="clear">amount</ion-button>
                </ion-col>
            </ion-row>
        </ion-footer>
    </ion-card>
    <ion-card *ngFor="let expense of expenses">
        <ion-toolbar color="primary">
            <ion-buttons slot="end">
                <ion-button>
                    <ion-icon size="large" name="help-circle-outline"></ion-icon>
                </ion-button>
                <ion-button>
                    <ion-icon src="assets/icon/pencil-outline.svg" size="large"></ion-icon>
                </ion-button>
            </ion-buttons>
            <ion-title slot="start">{{expense.amount}}</ion-title>
        </ion-toolbar>
        <ion-card-content>
            {{expense.description}}
            <ion-footer>
                <ion-label>
                    {{expense.createdOn | date}}
                </ion-label>
                <ion-label>
                    {{expense.type}}
                </ion-label>
            </ion-footer>
        </ion-card-content>
    </ion-card>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="presentModal()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
