<ion-header>
    <ion-toolbar color="secondary" class="ion-text-center">
        <ion-title>Dashboard</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header color="primary">
            <ion-card-title>
                Total: 500$
            </ion-card-title>
            <ion-card-subtitle>
                {{selectedDate | date}}
            </ion-card-subtitle>
        </ion-card-header>
        <ion-footer>
            <ion-row>
                <ion-col size="3">
                    <ion-button expand="full" fill="clear" (click)="setCurrentToTodayDate()" >Today</ion-button>
                </ion-col>
                <ion-col size="3">
                    <ion-item lines="none">
                        <ion-button color="primary">Date</ion-button>
                        <ion-datetime
                                #selected
                                [value]="selectedDate.toISOString()"
                                (ionChange)="changeSelectedDate(selected.value)"
                                min="2020"
                                [max]="selectedDate.toISOString()"
                        ></ion-datetime>
                    </ion-item>
                </ion-col>
                <ion-col size="3">
                    <ion-button expand="full" fill="clear">Catagory</ion-button>
                </ion-col>
                <ion-col size="3">
                    <ion-button expand="full" fill="clear">amount</ion-button>
                </ion-col>
            </ion-row>
        </ion-footer>
    </ion-card>
    <ion-card *ngFor="let expense of expenses">
        <ion-toolbar color="primary">
            <ion-buttons slot="end">
                <ion-button>
                    <ion-icon size="large" name="help-circle-outline"></ion-icon>
                </ion-button>
                <ion-button>
                    <ion-icon src="assets/icon/pencil-outline.svg" size="large"></ion-icon>
                </ion-button>
            </ion-buttons>
            <ion-title slot="start" size="large">$ {{expense.amount}}</ion-title>
        </ion-toolbar>
        <ion-card-content>
            <ion-text>
                {{expense.description}}
            </ion-text>
            <ion-grid>
                <ion-row>
                    <ion-col size="6" class="ion-text-center">
                        {{expense.createdOn | date}}
                    </ion-col>
                    <ion-col size="6">
                        {{expense.type}}
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="presentModal()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
